.todoContainer{
    /* height: 100vh; */
    padding: 10px;
    overflow: hidden;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
} 

.items{
    margin-top: 15px;
    height: 40px;
    display: flex;
}

.todoTitle{
    padding: 10px 50px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    text-transform: capitalize;
}

.timeCount{
    height: 40px;
    width: 40px;
    padding: 0px 5px;
    margin: 0 5px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
}

.timeTitle{
    font-size:20px;
}

.todoTitle:focus , .timeCount{
    outline: #84D7EC;
}

.addNewTask{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border:2px solid black;
    border-radius: 10px;
    background-color: #84D7EC;
}
