.todoContainer{
    /* height: 100vh; */
    padding: 10px;
    overflow: hidden;
    /* background: red; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    width : 80%;
    margin: 0 10%;
} 

.items{
    margin-top: 15px;
    height: 40px;
    display: flex;
}

.todoTitle{
    padding: 10px 50px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    text-transform: capitalize;
}

.timeCount{
    height: 40px;
    width: 80px;
    padding: 0px 5px;
    margin: 0 5px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
}

.timeTitle{
    font-size:20px;
}

.todoTitle:focus , .timeCount{
    outline: #84D7EC;
}

.addNewTask{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border:2px solid black;
    border-radius: 10px;
    background-color: #84D7EC;
}

.plusImage{
    height: 30px;
    width: 30px;
}

/* .items{
    border: 2px solid red;
} */

/* .todoItems{
    border: 2px solid green;
    margin: 5px 0px;
}  */



.todoItem{
    display: flex;
    align-items: center;
    border: 2px solid green;
    margin: 10px 0px;
}

.markDone{
    width: 5%;
    height: 20px;
    cursor: pointer;
}

.todoItemTitle{
    width : 55%;
    padding-left: 15px;
}

.focusTimeBox , .breakTimeBox{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.focusTimeSet , .breakTimeSet{
    height: 15px;
    border: 1px solid #84D7EC;
}

.todoStart{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.editLink{
    width : 5%;
    text-decoration: underline;
    color: green;
    cursor: pointer;
}

.deleteLink{
    width: 5%;
    text-decoration: underline;
    color: red;
    cursor: pointer;

}