.main{
    height: 100vh;
    width: 100vw;
    display : flex;
}

.verticalNavbar{
    height: 100%;
    width : 20%;
    background-color: #003d4c;
    text-align: center;
    color:#fff;
}

.verticalNavbarItems{

    border-bottom : 1px solid #524e4e56;
    font-size:1.15rem;
    display: flex;
    justify-content: start;
    padding: 10px 15px;
    font-weight: 500;
    transition: 0.3s all ease-in-out;
}
/* .verticalNavbarItems:hover{
    background-color: #d6cfcf;
    color:black !important;
} */


.verticalComponents{
    height: 100%;
    width: 80%;
}

.taskTitle{
    text-align: center;
}
.logo{
    height:80px;
    width:80px;

}

.navIcon{
    font: size 2rem;
    
}