.siteDisablerContainer{
    height: 100%;
    overflow-y: scroll;
}


.disableItems{
    width : 60%;
    margin : 10px 20%;
}

.disableItem{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.disableItemTitle{
    width : 80%;
    padding-left: 15px;
}



.deleteLink{
    width: 10%;
    text-decoration: underline;
    color: red;
    cursor: pointer;

}

.entertainmentSites , .sportsSites{
    height: 300px;
    border: 1px solid #e67e22;
    overflow: scroll;
    background-color: #ddd;
    margin : 20px 0;
}

.sitescheckbox{
    width: 10%;
    height : 20px;
}


.siteTitleHeading{
    text-align: center;
}

.sportsSites{
    margin-bottom: 50px;
}